.top-page {
    background-image: url("C:/Users/Erin/Desktop/Stuff/Homework-2/assets/img/night-sky.png");
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 130px;
}

.page {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 60px;

}

.footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;
}

.port-recent {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 300%;
}